@model DashboardView


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        
        <title>Wedding Planner</title>
    </head>

    <body>

        <div class="container">

            <div class="d-flex justify-content-between mt-5 mb-5">
                <h1>Welcome to the Wedding Planner,  @Model.UserFirstName</h1>
                <a href="/logout" class="btn btn-dark" style="font-weight: bold; padding-top: 5px; padding-right: 25px; padding-left: 25px; font-size: 25px; color: skyblue;">Log Out</a>
            </div>

            <table class="table table-dark table-striped">
                <thead>
                    <tr class="row" style="color: skyblue; font-size: 25px;">
                        <th class="col-3">Wedding</th>
                        <th class="col-3">Date</th>
                        <th class="col-2">Guests</th>
                        <th class="col-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(Wedding wedding in Model.AllWeddings)
                    {
                        <tr class="row" style="font-size: 20px;">
                            <td class="col-3"><a href="/wedding/@wedding.WeddingId" style="color: white;">@wedding.WedderOne & @wedding.WedderTwo</a></td>
                            <td class="col-3">@wedding.Date</td>
                            <td class="col-2">@wedding.WeddingAttendees.Count</td>
                            @{
                                bool RSVPtoRender = false;

                                foreach(WeddingAttendees RSVP in wedding.WeddingAttendees)
                                {
                                    if(RSVP.UserId == Model.LoggedUserId)
                                    {
                                        RSVPtoRender = true;
                                    }
                                }
                                if(Model.LoggedUserId == wedding.UserId)
                                {
                                    <td class="col-2"><a href="/wedding/@wedding.WeddingId/delete">Delete</a></td>
                                }
                                else if(RSVPtoRender == true)
                                {
                                    <td class="col-2"><a href="/wedding/@wedding.WeddingId/Un-RSVP">Un-RSVP</a></td>
                                }
                                else
                                {
                                    <td class="col-2"> <a href="/wedding/@wedding.WeddingId/RSVP">RSVP</a></td>
                                } 
                            }      
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/wedding/new" class="btn btn-dark mt-5" style="font-size: 20px; color: skyblue; font-weight: bold;">Create a Wedding!</a>

        </div>

    </body>
</html>